.home2-hero-banner {
  background-image: url("../../assets/images/HeroBg.jpg");
  background-position: center center; /* Center the background */
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the image covers the container */
  height: 650px;
  width: 100%;
  max-width: 1600px;
  position: absolute;
  top: 143px; /* Position at the top */
  left: 50%; /* Move it to the center horizontally */
  transform: translateX(-50%); /* Adjust for perfect centering */
  z-index: 1; /* Ensure it's behind other content */
  border-radius: 12px; /* Border-radius as per your requirement */
}


.help-btn {
  border-radius: 10px;
  /* display: inline-block; */
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0;
  padding: 13px 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 0;
  transition: all .4s ease;
  border: 1px solid #eb6753;
  color: #eb6753
}

.btn-thm {
  background-color: #eb6753;
  border: 1px solid #eb6753;
  color: #ffffff
}

.btn-thm-border:before,.btn-thm2:before,.btn-thm:before,.help-btn:before {
  background-color: #ee4c34;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
  transform: skew(50deg);
  transition: width .6s;
  transform-origin: top left;
  color: #ffffff
}


.btn-thm-border:hover:before,.btn-thm:hover:before,.help-btn:hover:before {
  height: 100%;
  width: 200%
}

.help-btn:hover{
  color: #fff;
}


.Dream-btn {
  border-radius: 10px;
  /* display: inline-block; */
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0;
  padding: 15px 40px;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 0;
  transition: all .4s ease;
  border: 1px solid #eb6753;
  color: #ffffff;
  background-color: #eb6753;
}

.btn-thm {
  background-color: #eb6753;
  border: 1px solid #eb6753;
  color: #ffffff
}

.btn-thm-border:before,.btn-thm2:before,.btn-thm:before,.Dream-btn:before,.Footer-btn:before {
  background-color: #ee4c34;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 0;
  z-index: -1;
  transform: skew(50deg);
  transition: width .6s;
  transform-origin: top left;
  color: #ffffff
}


.btn-thm-border:hover:before,.btn-thm:hover:before,.Dream-btn:hover:before,.Footer-btn:hover:before {
  height: 100%;
  width: 200%
}

.Dream-btn:hover{
  color: #fff;
}

.justify-content-center {
  justify-content: center !important;
}
.nav {
  display: flex
;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pills ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.testi-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 45px;
  margin-bottom: 30px;
}

.design {
  font-weight: 400;
  font-size: 13px;
}
.h6{
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
}
